<input type="text" [(ngModel)]='title'> {{ title }}


<div *ngIf="title=='pablo'">
    esto es un div
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'pablo'">este es pablo</p>
    <p *ngSwitchCase="'alfredo'">este es alfredo</p>
    <p *ngSwitchCase="'guillermo'">este es guillermo</p>
    <p *ngSwitchDefault>no match</p>
</div>



<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">List is empty</li>
    <li *ngFor="let name of items; index as i">
        {{name}}, {{i}}
        <button (click)="deleteItem(i)">kill</button>
    </li>
</ul>

<div class="product-grid">    
    <app-product 
    *ngFor="let prod of products; index as i" 
    (productClicked)="clickProduct($event)" 
    [product]="prod">
    ...
    </app-product>
</div>